.home-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.home-card {
    padding: 1rem;
}

.room-options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.or-text {
    text-align: center;
    margin: 2rem
}